html {
  background: #000;
}
body {
  background: #000;
}
.main_wrapper {
  margin: 0 auto;
  width: 100%;
  background: url('../img/bg_main.jpg') no-repeat top center;
  background-position-y: -15vh;
  min-height: 100vh;
  background-size: 80%;
  padding-top: 20vh;
}
.video_controls_wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
  padding: 40px;
}
.video_controls_wrapper .control {
  width: 50%;
}
.video_controls_wrapper .control .start_btn {
  padding-left: 40px;
  margin-top: 40px;
}
.video_controls_wrapper .control .intro_text {
  color: #FFF;
  font-size: 25px;
}
.choices_wrapper {
  position: absolute;
  top: 50%;
  left: 0;
  text-align: center;
  width: 100%;
  transform: translateY(-50%);
}
.choices_wrapper .choice_btn {
  background-image: linear-gradient(#4702fb, #3402b6);
  color: #fff3cd;
  border-radius: 10px;
  width: 260px;
  height: 60px;
  font-size: 1.1rem;
  position: relative;
  border: none;
}
.end_wrapper {
  position: absolute;
  top: 50%;
  left: 10%;
  width: 60%;
  transform: translateY(-50%);
}
.end_wrapper .endText {
  color: #FFF;
  line-height: 40px;
  font-size: 40px;
  font-family: Arial, Verdana, sans-serif;
}
.end_wrapper .endText_fail {
  color: #c61b26;
  font-size: 26px;
  font-family: Arial, Verdana, sans-serif;
}
.end_wrapper .end_btn {
  background-image: linear-gradient(#4702fb, #3402b6);
  color: #fff3cd;
  border-radius: 10px;
  width: 400px;
  height: 60px;
  font-size: 1.1rem;
  position: relative;
  border: none;
}
.end_wrapper .end_btn .fas {
  font-size: 20px;
  padding-right: 25px;
  transition: all 0.15s ease-in-out;
}
.end_wrapper .end_btn:hover {
  color: #d48888;
}
.end_wrapper .end_btn:hover .fas {
  transform: scale(1.5);
}
.happyEnd_wrapper {
  position: absolute;
  top: 40%;
  left: 10%;
  width: 60%;
  transform: translateY(-50%);
}
.happyEnd_wrapper .logo_wrapper {
  position: absolute;
  transform: translate(-25%, -19%);
  z-index: -1;
}
.happyEnd_wrapper .logo_wrapper .bg_finish {
  width: 180%;
}
.happyEnd_wrapper .endText {
  font-size: 40px;
  color: white;
  line-height: 50px;
}
.happyEnd_wrapper .endTextSmall {
  color: white;
  font-size: 19px;
  line-height: 25px;
}
.happyEnd_wrapper .end_btn {
  background-image: linear-gradient(#4702fb, #3402b6);
  color: #fff3cd;
  border-radius: 10px;
  width: 400px;
  height: 60px;
  font-size: 1.1rem;
  position: relative;
  border: none;
}
.happyEnd_wrapper .end_btn .fas {
  font-size: 20px;
  padding-right: 25px;
  transition: all 0.15s ease-in-out;
}
.happyEnd_wrapper .end_btn:hover {
  color: #d48888;
}
.happyEnd_wrapper .end_btn:hover .fas {
  transform: scale(1.5);
}
.base_btn_wrapper {
  background-image: linear-gradient(#4702fb, #3402b6);
  color: #fff3cd;
  border-radius: 10px;
  width: 260px;
  height: 60px;
  font-size: 1.1rem;
  position: relative;
  border: none;
}
.base_btn_wrapper:hover {
  color: #d48888;
}
.base_btn_wrapper:hover .fas {
  transform: scale(1.5);
}
.base_btn_wrapper .fas {
  transition: all 0.15s ease-in-out;
  position: absolute;
  top: 40%;
  left: 35px;
  transform-origin: left center;
}
.share_btn_wrapper {
  width: 190px;
  font-size: 11px;
  height: 100px;
}
.share_btn_wrapper .share_btn {
  color: #000;
  text-transform: uppercase;
  height: 40px;
  margin-left: 10px;
}
.share_btn_wrapper .social_btn {
  margin: 0 10px 0 0;
  color: #fff;
  font-size: 30px;
}
.fa {
  font-size: 10px;
  padding-right: 10px;
}
.fas {
  font-size: 10px;
  padding-right: 10px;
}
.fa-bars {
  padding: 10px 0 0 20px;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
  position: relative;
  transition: 0.3s;
}
.fa-bars:hover {
  transform: scale(1.2);
}
.video_wrapper {
  max-height: 62vh;
}
.video_wrapper video {
  height: auto;
  width: 100%;
}
.footer_wrapper {
  border-top: #666 2px solid;
  vertical-align: top;
}
.footer_wrapper a:not([href]) {
  color: #666;
}
.footer_wrapper a {
  font-size: 14px;
  margin: 5px 0 5px 0;
  cursor: pointer;
  text-decoration: none;
}
.footer_wrapper a:hover {
  color: #fff;
}
.modal_inner {
  background-image: linear-gradient(#292929, #000, #000 40%);
  padding: 30px;
}
.modal_inner .modal_wrapper p,
.modal_inner .modal_wrapper h2,
.modal_inner .modal_wrapper ul,
.modal_inner .modal_wrapper h3,
.modal_inner .modal_wrapper h4 {
  color: #fff;
  font-weight: bold;
}
.modal_inner .modal_wrapper h2 {
  font-size: 20px;
  line-height: 22px;
}
.modal_inner .modal_wrapper h3 {
  font-size: 16px;
  margin: 20px 0 10px 0;
}
.modal_inner .modal_wrapper p {
  font-size: 14px;
  line-height: 16px;
}
.modal_inner .icn_close {
  top: -20px;
  right: 0;
  position: absolute;
  height: 25px;
  width: 25px;
  border: none;
  background: url(../img/icn_close.png) no-repeat;
  cursor: pointer;
}
@media (max-width: 576px) {
  .video_controls_wrapper {
    top: 45%;
    padding: 20px;
  }
  .video_controls_wrapper .control {
    width: 80%;
  }
  .video_controls_wrapper .control .intro_text {
    font-size: 16px;
  }
  .video_controls_wrapper .control .start_btn {
    margin: 0 0 0 0;
    width: 180px;
  }
  .video_controls_wrapper .control .start_btn .fas {
    left: 25px;
    top: 35%;
  }
  .share_btn_wrapper .share_btn {
    font-size: 10px;
  }
  .end_wrapper {
    top: 50%;
    left: 5%;
    width: 100%;
  }
  .end_wrapper .endText {
    line-height: 30px;
    font-size: 20px;
  }
  .end_wrapper .endText_fail {
    font-size: 16px;
  }
  .end_wrapper .end_btn {
    width: 255px;
    height: 60px;
    font-size: 15px;
  }
  .end_wrapper .end_btn .fas {
    font-size: 15px;
    padding-right: 10px;
  }
  .happyEnd_wrapper {
    top: 45%;
    left: 5%;
    width: 100%;
  }
  .happyEnd_wrapper .logo_wrapper {
    width: 80%;
    top: 10%;
  }
  .happyEnd_wrapper .endText {
    font-size: 20px;
    line-height: normal;
  }
  .happyEnd_wrapper .endTextSmall {
    font-size: 12px;
    line-height: normal;
  }
  .happyEnd_wrapper .end_btn {
    top: 30px;
    width: 240px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .main_wrapper {
    max-width: 95vw;
    margin: 0 auto;
    padding-top: 25vh;
  }
  .share_btn_wrapper {
    height: 160px;
  }
  .start_btn {
    width: 200px;
    height: 40px;
    font-size: 12px;
    margin-top: 20px;
  }
  .choices_wrapper {
    margin: 0 0 0 0;
  }
  .choices_wrapper .choice_btn {
    font-size: 0.75rem;
    width: 150px;
    height: 50px;
  }
}
@media (max-width: 991px) {
  .main_wrapper {
    background-position-y: -5vh;
    min-height: 100vh;
    background-size: 140%;
  }
}
@media (max-width: 1024px) and (-webkit-min-device-pixel-ratio: 2) {
  .main_wrapper {
    background-position-y: -5vh;
    min-height: 100vh;
    background-size: 140%;
  }
}
/*# sourceMappingURL=styles.css.map */